{% extends 'base.html' %}
{% block style %}

.col-3 {
  position: relative;
 
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-3:hover .image {
  opacity: 0.3;
}

.col-3:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
body{
  background-image: none;
  background-color: black;
}    
{% endblock style %}
{% block body %}
<h1 style="text-align: center; color: white;">DEFAULT STYLE MODELS</h1>
<div class="slideshow-container">
 <div class="row">
                    {% for i in display %}

                    <div class="col-3">
                      <img src="{{ i.style.url }}" alt="Avatar" class="image" style="width:100%; margin: 10px; height: 300px;">
                      <div class="middle">
                        <button class="text" ><a href="{% url 'styledisplay' i.style %}"  style="text-decoration: none; padding-left: 50px;padding-right: 50px; font-weight: normal; color: white;">Add</a></button>
                      </div>
                    </div>
                   
                    {% endfor %}
                 </div>
                </div>

                 
   {% endblock body %}